In [15]:
from fossa import LastNWindowsAnomalyDetector
from fossa.weights import (exp_comp_weighter, exp_weighter, first_n_uniform_weighter, uniform_weighter)

In [23]:
clf = LastNWindowsAnomalyDetector(
    n_windows=5,
    weights=uniform_weighter(),
    p_threshold=0.001,
)

In [24]:
from fossa.utils import dummy_data

In [25]:
history = dummy_data(num_days=10, num_categories=8, min_val=1000, max_val=1200)

In [26]:
clf.fit(history)

LastNWindowsAnomalyDetector(ddof=0, n_windows=5, p_threshold=0.001,
              p_weight=None, power=1,
              weights=<generator object uniform_weighter at 0x114e4b780>)

In [27]:
new_day = dummy_data(num_days=1, num_categories=8, min_val=1000, max_val=1200)

In [28]:
new_day

                     value
date       category
2011-01-01 0          1144
           1          1094
           2          1026
           3          1085
           4          1136
           5          1077
           6          1015
           7          1005

In [29]:
clf.detect_trends(new_day)

                     conf  trend
date       category
2011-01-01 0          0.8    0.0
           1          0.8    0.0
           2          1.0    0.0
           3          0.8    0.0
           4          0.6    1.0
           5          0.6    0.0
           6          0.6   -1.0
           7          0.6    0.0

In [10]:
two_days = dummy_data(num_days=2, num_categories=8, min_val=100, max_val=1000)

In [11]:
clf.predict(two_days)

                     trend
date       category
2011-01-01 0           1.0
           1           1.0
           2           1.0
           3           1.0
           4           1.0
           5           1.0
           6          -1.0
           7          -1.0
2011-01-02 0          -1.0
           1          -1.0
           2           1.0
           3          -1.0
           4           1.0
           5          -1.0
           6           1.0
           7          -1.0

In [12]:
clf.detect_trends(new_day)

                     conf  trend
date       category
2011-01-01 0          0.6    1.0
           1          0.8    1.0
           2          1.0    1.0
           3          0.6   -1.0
           4          0.6    1.0
           5          0.6    1.0
           6          1.0    1.0
           7          0.8   -1.0